@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  overflow: hidden;
} 